.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
  animation: appear 0.7s ease;
}

.logo {
  width: 11rem;
  height: 11rem;
  margin-bottom: 0.25rem;
  animation: slideDown 0.7s 0.1s ease forwards;
  opacity: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 0.25rem;
}

.input {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #090909;
}

.button {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  color: #fafafa;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-2rem) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
