.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: rgb(15, 113, 226);
  width: 100%;
  min-height: 44rem;
  padding: 1rem;
  animation: popupContainer 0.9s cubic-bezier(0.175, 0.885, 0.41, 1.25);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
}

.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.32);
  padding: 0.5rem 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0.25rem;
  border: none;
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background: #1a1a1a;
  color: white;
  font-size: 1rem;
  resize: vertical;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0rem 0rem 1rem 0.25rem rgba(23, 23, 23, 0.15);
}

.textarea > textarea:focus {
  outline: none;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  background: rgb(240, 240, 240);
  color: black;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0rem 0rem 1rem 0.125rem rgba(23, 23, 23, 0.2);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 3, 3);
}

.loader {
  height: 36rem;
  max-width: 100%;
  border-radius: 1rem;
}

@keyframes popupContainer {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
