.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  margin-right: 1rem;
  flex: 1;
  animation: appear 0.5s ease;
}

.blinbkingDot {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: antiquewhite;
  border-radius: 50%;
  top: 1rem;
  left: 1rem;
  animation: blink 3s infinite;
}

.hardwareInfoItem {
  margin-bottom: 1rem;
}

.hardwareInfoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  color: antiquewhite;
}

.infoDetail {
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  text-align: end;
}

.progressBar {
  height: 20px;
  background-color: #555555;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progress {
  height: 100%;
  background-color: antiquewhite;
  border-radius: 5px;
  transition: width 0.3s ease;
}

@keyframes blink {
  0% {
    background-color: #555555;
  }
  11% {
    background-color: antiquewhite;
  }
  44% {
    background-color: #555555;
  }
  100% {
    background-color: #555555;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
