.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  margin-right: 1rem;
  flex: 1;
}

.hardwareInfoItem {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: antiquewhite;
}

.infoDetail {
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  text-align: end;
}

.progressBar {
  height: 20px;
  background-color: #555555;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progress {
  height: 100%;
  background-color: antiquewhite;
  border-radius: 5px;
  transition: width 0.3s ease;
}
