.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  animation: appear 0.7s ease;
  flex: 1;
  width: 100%;
  height: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
}

.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.32);
  padding: 0.5rem 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0.25rem;
}

.closeBtn {
  width: 3.5rem;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  border: none;
}

.infoContainer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.infoField {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 250px;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(23, 23, 23, 0.5);
  animation: appear 0.7s ease forwards;
  opacity: 0;
}

.infoTitle {
  font-size: 1rem;
  font-weight: 700;
  color: antiquewhite;
  margin-bottom: 0.75rem;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
}

.infoText {
  margin: 0rem 0.25rem;
  word-break: break-all;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 17, 27);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  color: antiquewhite;
  margin-bottom: 0.5rem;
  width: 10rem;
}

@media (max-width: 700px) {
  .buttons {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
