.closeBtn {
  background-color: rgba(255, 0, 0, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
}
